<h1>Categories</h1>
<ul>

    {{#each user.organizers}}
    <li>
        <a href="/user/{{../userId}}/organizer/{{_id}}">{{title}}</a>
    </li>
    <form action="/user/{{../userId}}/organizer/{{_id}}/edit">
        <button type="submit">Edit Category</button>
    </form>
    <form action="/user/{{../userId}}/organizer/{{_id}}/?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    {{/each}}
    <a href="/user/{{userId}}/organizer/new">Create a Category</a>
</ul>