<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4">
                <a target="_self" href="/user/{{userId}}/organizer">Home</a>
            </li>
            <li class="tab col s4">
                <a target="_self" href="/user/{{userId}}/organizer/{{organizerId}}/article">Article</a>
            </li>
            <li class="tab col s4">
                <a target="_self" href="/">Log Out</a>
            </li>
        </ul>
    </div>
</div>

<h1>Categories</h1>
<div class="row">

    {{#each user.organizers}}
    <div class="col s12">
        <div class="col s4">
            <form action=" /user/{{../userId}}/organizer/{{_id}}/edit ">
                <button type="submit " class="waves-effect blue accent-1 btn ">
                    <i class="material-icons left ">edit</i>Edit Category</button>
            </form>
        </div>
        <div class="col s4">
            <a href="/user/{{../userId}}/organizer/{{_id}} ">{{title}}</a>
        </div>
        <div class=" col s4 ">
            <form action="/user/{{../userId}}/organizer/{{_id}}?_method=DELETE " method="POST ">
                <button type="submit " class="waves-effect blue accent-1 btn ">
                    <i class="material-icons left ">delete</i>Delete</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>
<a href="/user/{{userId}}/organizer/new " class="waves-effect blue accent-1 btn ">
    <i class="material-icons left ">add</i>Create a Category</a>