<ul>
    <li>
        <h1>{{organizer.title}}</h1>
        <h3>Created On {{organizer.dateCreated}}</h3>
        <h3>Description: {{organizer.description}}</h3>
        <a href="/user/{{userId}}/organizer/{{organizerId}}/article">{{organizer.title}} Page</a>
    </li>
</ul>