<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4">
                <a target="_self" href="/user/{{userId}}/organizer">Home</a>
            </li>
            <li class="tab col s4">
                <a target="_self" href="/user/{{userId}}/organizer/{{organizerId}}/article">Article</a>
            </li>
            <li class="tab col s4">
                <a target="_self" href="/">Log Out</a>
            </li>
        </ul>
    </div>
</div>
<h1>Index</h1>

{{#each organizer.articles}}
<a href="/user/{{../userId}}/organizer/{{../organizer._id}}/article/{{_id}}">{{title}}</a>
<br>
<form action="/user/{{../userId}}/organizer/{{../organizer._id}}/article/{{_id}}?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
<br> {{/each}}

<a href="/user/{{userId}}/organizer/{{organizerId}}/article/new">Add One</a>