<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4">
                <a target="_self" href="/user/{{userId}}/organizer">Home</a>
            </li>
            <li class="tab col s4">
                <a target="_self" href="/user/{{userId}}/organizer/{{organizerId}}/article">Article</a>
            </li>
            <li class="tab col s4">
                <a target="_self" href="/">Log Out</a>
            </li>
        </ul>
    </div>
</div>
<h1>Add a Another</h1>
<ul>
    <form action="/user/{{userId}}/organizer/{{organizerId}}/article" method="POST">

        <label class="editinfo" for="title">Title</label>
        <input name="title">
        <br>
        <label class="editinfo" for="notes">Notes</label>
        <textarea name="notes"></textarea>
        <br>
        <label for="url">Website Url</label>
        <input type="url" name="url">
        <br>
        <label for="photoUrl">Photo Url</label>
        <input type="url" name="photoUrl">


        <button type="submit">Create</button>
    </form>
</ul>